<div class="about-container">
    <div class="about-content">
        <h1 >About Us</h1>
        <p>we are dedicated to fostering a culture of integrity, accountability, and transparency in all our operations. Our business policies are designed to ensure compliance with applicable laws while upholding the highest ethical standards. We prioritize customer satisfaction, respect diversity, and protect personal data, all while maintaining a safe and inclusive workplace. Sustainability is at the core of our practices, guiding us to minimize our environmental impact. By encouraging open communication and continuous improvement, we strive to enhance our policies and create lasting positive relationships with our customers and employees.</p>
    </div>
    <div class="about-image">
        <img src="assets\about.jpeg" alt="About Us Image">
    </div>
</div>

